html, body, div {
  margin: 0;
  padding: 0;
}

body{
  background: #cfcfcf;
}

.navigation{
  background: #ce1100;
  display: flex;
  flex-direction: row;
  color: #fff;
  padding: .8rem 0;
  align-items: center;
}

.fa-arrow-left{
  margin-left: .7rem;
 
  cursor: pointer;
  font-size: 1.2rem;
}

.img-pizza-brand{
  margin-left: .7rem;
  max-width: 100%;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}

h4{
  margin: 0 .7rem;
  font-family: 'Open Sans', sans-serif;
}

.container-send-msg{
  display: flex;
  position: absolute;
  bottom: 0;
  margin-bottom: 1rem;
  width: 100%;
  height: 3rem;
  align-items: center;
}

.container-send-msg input{
  border: 0;
  border-radius: 1.8rem;
  padding: .9rem;
  width: 80%;
  margin-left: .7rem;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  font-family: 'Open Sans', sans-serif;
}

.container-send-msg button{
  background: #ce1100;
  color: #fff;
  margin: 0 .7rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}