ul#p-a-m-f {
    margin-top: 150px;
    height: 370px;
}
ul#p-a-m-f li{
    height: 80px;
    width: 300px;
    border: 1px solid white;
    background-color: #5ce1e6;
    box-shadow: 2px 2px 1px #5ce1e6;
    list-style: none;  
    text-align: center; 
    margin-left: -40px;
    margin-top: 5px;
}
ul#p-a-m-f li:hover{
    -webkit-transform: scale(1.1);
    -webkit-transition: all 0.1s ease-in;
}
ul#p-a-m-f span{
    color: #ffffff;
    text-shadow: 3px 3px 5px black;
    font-size: 25pt;
    line-height: 80px;
    text-transform: uppercase;
}
div#registro{
    opacity: 1;
}
fieldset#paciente{
    width: 370px;
    margin-left: 600px;
    margin-top: -400px;
    margin-bottom: 30px;
    border-color: #5ce1e6;
}
fieldset#paciente legend{
    text-transform: uppercase;
}
input, textarea{
    font-size: 11pt;
    background-color: rgba(255,255,255,.8);
}
input:hover, textarea:hover{
    background-color: #dddddd;
}
footer#rodape{
    color: rgba(0,0,0,0.7);
    border-top: 1px solid #5ce1e6;
    text-align: center;
}
