body{
    background-color:white;
    font-family: 'Barlow', sans-serif;
}
a{
    text-decoration: none;
    color:white;
}
/*INICIO CABECALHO*/
header#linha-baixo{
    border-bottom: 5px solid #5ce1e6;
    margin-top: 20px;
    margin-bottom: 30px;
}
header#linha-cima{
    border-bottom: 45px solid  #5ce1e6;
    margin-top: -159px;
    border-bottom: 10px solid #5ce1e6;
}
ul#usuarios{
    list-style: none;
    display: block;
    text-align: center;
    text-transform: uppercase;
    width: -10px;
}
ul#usuarios li{
    padding: 6px;
    background-color: #5ce1e6;
}
ul#usuarios li:hover{
    -webkit-transform: scale(1.1);
    -webkit-transition: all 0.5s ease-in;
}
ul#usuarios li#login{
    margin-left: 1200px;
    margin-top: -17px;
}
ul#usuarios li#cadastro{  
    margin-left: 1090px;
    margin-right: 110px;
    margin-top: -30px;  
}
ul#usuarios li#quemsomos{
    margin-left: 966px;
    margin-right: 220px;
    margin-top: -31px;
}
/*FIM CABECALHO*/
div#unidades{
    width: 10px;
    height: 450px;
}
ul#tres-unidades{
    margin-top: 70px;
    padding: 70px;
    list-style: none;  
}
ul#tres-unidades li{
    width: 300px;
    height: 100px;
    margin: 10px;
    border: 5px solid white;
    box-shadow: 2px 2px 1px #5ce1e6;
}
ul#tres-unidades li#paulista{
    background: url(fotos/paulista1.jpg);
    background-position: 50% 50%;
    background-size: 300px 100px;
    margin-left: 50px;
    text-align: center;
}
ul#tres-unidades li#paraiso{
    background: url(fotos/paraiso1.jpg);
    background-position: 50% 50%;
    background-size: 300px 100px;
    margin-left: 400px;  
    text-align: center;
}
ul#tres-unidades li#sao-bento{
    background: url(fotos/saobento1.jpg);
    background-position: 50% 50%;
    background-size: 300px 100px;
    margin-left: 750px;
    text-align: center;
}
ul#tres-unidades span{
    opacity: 1;
    color: #ffffff;
    text-shadow: 2px 2px 5px #5ce1e6;
    background-color: rgba(0,0,0,.3);
    font-size: 14pt;
    line-height: 90px;
    padding:7px;
}
ul#tres-unidades li:hover{
    -webkit-transform: scale(1.1);
    -webkit-transition: all 0.1s ease-in;
}
div#faixa{
    width: 100%;
    background-color:  #5ce1e6;
    text-align: left;
    padding: 1px;
    text-shadow: 2px 2px 5px black;
    margin-top: 15px;
    text-align: center;
    text-transform: uppercase;
}
div#faixa h1:hover{
    -webkit-transform: scale(1.1);
    -webkit-transition: all 0.1s ease-in;
    color: white;
}
ul#o-v-r li{
    width: 300px;
    height: 250px;
    margin: 10px;
    border: 5px solid white;
    background-color: #5ce1e6;
    box-shadow: 2px 2px 1px #5ce1e6;
    list-style: none;  
    text-align: center; 
}
ul#o-v-r li:hover{
    -webkit-transform: scale(1.1);
    -webkit-transition: all 0.1s ease-in;
}
ul#o-v-r span{
    opacity: 1;
    color: #ffffff;
    text-shadow: 2px 2px 5px #5ce1e6;
    background-color: rgba(0,0,0,.3);
    font-size: 14pt;
    line-height: 250px;
    padding:7px;
    text-transform: uppercase;
}
ul#o-v-r li#odontologia{  
    background:url(fotos/dentista1.jpg) no-repeat; background-position: 50% 50%;
    background-size: 300px 250px;
    margin-left: 122px;
}
ul#o-v-r li#vacinas{ 
    background:url(fotos/vacina1.jpg)no-repeat;
    background-size: 300px 250px;
    background-position: 50% 50%;
    margin-left: 472px;
    margin-top: -270px;
}
ul#o-v-r li#exames{
    background:url(fotos/exame1.jpg) no-repeat;
    background-size: 300px 250px;
    background-position: 50% 50%;
    margin-left: 822px;
    margin-top: -270px;
}
footer#rodape{
    color: rgba(0,0,0,0.7);
    border-top: 1px solid #5ce1e6;
    text-align: center;
}